<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="{{ mycss }}">
    <link rel="stylesheet" href="{{ sm_extendcss }}">
    <link rel="stylesheet" href="{{ smcss }}">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)return;
            n = f.fbq = function () {
                n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq)f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
                document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{ pixel }}'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id={{ pixel }}&ev=PageView&noscript=1"
        /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

</head>
<body style="max-width: 750px;margin: 0 auto;width: 100%">


<div class="page-group">
    <div class="page page-current" id="router">
        <!--图片轮播 start-->
        <div class="content">
            <!-- Slider -->
            <div style="padding-bottom: 0" class="swiper-container" data-space-between='10'>
                <div class="swiper-wrapper">
                    {% for image in images %}
                        <div class="swiper-slide"><img class="image" src="{{ image.popup }}" alt=""></div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!--图片轮播 end-->
            <!--商品信息 start-->
            <div class="product_info">
                <div class="product_title">
                    {{ name }}
                </div>
                <div class="row">
                    <div class="col-80">
                        <div class="row">
                            <div class="col-60 product_info_price">{{ price }}</div>
                            <div class="col-40 product_info_original_price"><s>{{ origin_price }}</s></div>
                            {#<div class="col-35 product_info_tag">{{ text_limitedtime_sales }}</div>#}
                        </div>
                    </div>
                </div>

            </div>

            <div class="space"></div>
            <!--商品信息 end-->
            <!--活动描述   标识 start-->
            <div class="middle_message">
                <div class="middle_message_one">
                    <div class="row">
                        <div class="col-35 active" style="margin-top: 0.8rem">{{ text_sales_promotion }}</div>

                        <div class="col-60 middle_message_font">{{ text_sales_promotion_content }}</div>
                    </div>
                </div>
                <div class="middle_message_two" style="">
                    <div class="row">
                        <div class="col-50 middle_message_two_font">
                            <div class="middle_message_two_tag"><img class="image" src="{{ http }}/catalog/view/javascript/my/image/qietu-02-1.png"></div>
                            {{ small_title_1 }}
                        </div>
                        <div class="col-50 middle_message_two_font">
                            <div class="middle_message_two_tag"><img class="image" src="{{ http }}/catalog/view/javascript/my/image/qietu-02-1.png"></div>
                            {{ small_title_2 }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="space"></div>
            <!--活动描述   标识 end-->
            <!--商品详情瀑布流图片区 start-->
            <div class="product-images" style="background-color: white">
                <div style="width: 100%">
                    {{ description }}
                </div>
            </div>
            <!--商品详情瀑布流图片区 end-->

            <div class="" style="background-color: white;">
                <div style="margin: 0 0.5rem;text-align: center;font-size: 1.2rem;color: white;background-color: #FF464E;margin-top: 1rem">Buying guide& Security</div>
                <div style="font-size: 0.6rem;margin: 0 0.5rem;color:#FF464E;border: 2px solid #FF464E ">
                    --- Security ---
                    <br>
                    •Free shipping& Cash on delivery
                    <br>
                    •The goods purchased are entitled to the right of unconditional return within 7 days.
                    <br>
                    •If you have any questions after receiving the product, please contact online customer service or send emai to : william62875333@outlook.com
                    <br>
                    •Meanwhile, please let us know your name, contact information and order number. Our customer service staff will deal with you quickly. Wish you have a happy shopping.
                    <br>
                    --- Contact us ---
                    {#<br>#}
                    {#•24 hours online customer service.#}
                    <br>
                    •Email：william62875333@outlook.com.
                    <br>
                    •If you have any questions, Please leave a message on our FB page, Thanks for your cooperation.
                    <br>
                    --- Quality Assurance ---
                    <br>
                    •We go deep into the world and strictly control the origin, process and raw materials of all goods.
                    <br>
                    •Strictly choose clothing, shoes, household, kitchen, sports and other products, strive to give you the best quality products.
                </div>
            </div>
            <!--底部菜单 start-->
            <div style="height: 4rem;background-color: white"></div>
        </div>
        <div style="position: fixed;z-index: 10000000;max-width: 750px;margin: 0 auto;overflow: auto;bottom: 0;width: 100%">
            <a href="#router1">
                <div style="height: 3rem;line-height:3rem;float:left;width: 40%;text-align: center;background-color: #eeeeee;font-size: 1rem;color: #333333">Check Order</div>
            </a>
            <a href="#router3">
                <div style="height: 3rem;line-height:3rem;float:left;width: 60%;text-align: center;background-color: #FF464E;font-size: 1.4rem;color: white">Buy Now</div>
            </a>
        </div>
    </div>
</div>
{#立即购买页面 start#}
<div class="page" id='router3'>
    <header class="bar bar-nav" style="background-color:#FF464E;">
        <a class="button button-link button-nav pull-left back" href="">
            <span class="icon icon-left" style="color: white"></span>
        </a>
        <h1 class='title' style="color:white;font-weight: 200">{{ order_confirm }}</h1>
    </header>
    <div class="content">
        <div class="parameters">


            {% for option in options %}
                <div class="parameter">
                    <div class="parameter-title"> {{ option.name }} </div>
                    <div id="combo-choose-{{ option.product_option_id }}">


                        {% for option_sub in option.product_option_value %}


                            {% if option_sub.key == '0' %}

                                <div class="parameter-style choosed">
                                    <i style="display: block;width: 6.5rem;height: 6.5rem">
                                        <img style="width: 100%;height: 100%" src="{{ option_sub.image }}">
                                    </i>
                                    <i style="display: block;width: 6.5rem;overflow: hidden;height: 0.9rem">
                                        {{ option_sub.name }}
                                        <input type="hidden" value="{{ option_sub.option_value_id }}">
                                    </i>
                                </div>

                            {% else %}
                                <div class="parameter-style no-choosed">
                                    <i style="display: block;width: 6.5rem;height: 6.5rem">
                                        <img style="width: 100%;height: 100%" src="{{ option_sub.image }}">
                                    </i>
                                    <i style="display: block;width: 6.5rem;overflow: hidden;height: 0.9rem">
                                        {{ option_sub.name }}
                                        <input type="hidden" value="{{ option_sub.option_value_id }}">
                                    </i>
                                </div>
                            {% endif %}
                        {% endfor %}


                    </div>
                    <div style="clear: both"></div>
                </div>
            {% endfor %}


        </div>
        <div class="space"></div>
        <form id="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        {#<form id="paypal-form" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">#}
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="upload" value="1">
            <input type="hidden" name="business" value="sophia.yip77@gmail.com">
            {#<input type="hidden" name="business" value="1417502518business@qq.com">#}
            <input type="hidden" name="item_name_1" value="{{ name }}">
            {#<input type="hidden" name="item_number_1" value="Product 16asdfasdf">#}
            {#<input type="hidden" name="amount_1" value="0.01">#}
            <input type="hidden" name="amount_1" value="{{ price_num }}">
            {#<input type="hidden" name="quantity_1" value="2">#}
            <input type="hidden" name="currency_code" value="USD">
            {#<input type="hidden" name="first_name" value="">#}
            {#<input type="hidden" name="last_name" value="">#}
            {#<input type="hidden" name="address1" value="123">#}
            {#<input type="hidden" name="country" value="DXB">#}
            {#<input type="hidden" name="email" value="123@qq.com">#}
            {#<input type="hidden" name="lc" value="en-gb">#}
            {#<input type="hidden" name="no_note" value="1">#}
            {#<input type="hidden" name="no_shipping" value="1">#}
            <input type="hidden" name="charset" value="utf-8">
            <input type="hidden" name="return" value="{{ pay_return_url }}">
            <input type="hidden" name="notify_url" value="{{ pay_notify_url }}">
            <input type="hidden" name="cancel_return" value="{{ pay_cancel_return_url }}">
            {#<input type="hidden" name="paymentaction" value="authorization">#}
            <input id='paypal-form-orderId' type="hidden" name="custom" value="">
            <div id="info" class="list-block" style="margin: 0rem">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content" style="padding-left:0;margin-left: 0">
                            <div class="item-media"><i class="icon icon-form-name"></i></div>
                            <div class="item-inner" style="margin-left: 0.4rem">
                                <div class="item-title label">{{ user_name }}</div>
                                <div class="item-input">
                                    <input id="user_name" type="text" placeholder="Your name">
                                    <input name="item_number_1" id="product_id" type="hidden" value="{{ product_id }}">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content" style="padding-left:0;margin-left: 0;">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner" style="margin-left: 0.4rem;border-bottom: 1px solid #eeeeee;">
                                <div class="item-title label">{{ user_email }}</div>
                                <div class="item-input">
                                    <input name="email" id="user_email" type="email" placeholder="E-mail">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content" style="padding-left:0;margin-left: 0">
                            <div class="item-media"><i class="icon icon-form-telephone"></i></div>
                            <div class="item-inner" style="margin-left: 0.4rem">
                                <div class="item-title label">{{ user_telephone }}</div>
                                <div class="item-input">
                                    <input id="user_phone" type="text" placeholder="Telephone" class="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content" style="padding-left:0;margin-left: 0">
                            <div class="item-media"><i class="icon icon-form-code"></i></div>
                            <div class="item-inner" style="margin-left: 0.4rem">
                                <div class="item-title label">{{ user_code }}</div>
                                <div class="item-input">
                                    <input id="user_code" type="text" placeholder="Code" class="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content" style="padding-left:0;margin-left: 0">
                            <div class="item-media"><i class="icon icon-form-addrase"></i></div>
                            <div class="item-inner" style="margin-left: 0.4rem">
                                <div class="item-title label">{{ user_address }}</div>
                                <div class="item-input">
                                    <input name="address1" id="user_address" type="text" placeholder="Address" class="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content" style="padding-left:0;margin-left: 0">
                            <div class="item-media"><i class="icon icon-form-addrase"></i></div>
                            <div class="item-inner" style="margin-left: 0.4rem">
                                <div class="item-title label">Comment</div>
                                <div class="item-input">
                                    <input name="comment" id="user_comment" type="text" placeholder="Comment" class="">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="space"></div>
            <div class="order-product-info">
                {#<div class="order-product-info-title" style="zoom: 1">#}
                    {#<div class="order-product-info-title-image">#}
                        {#<img class="image" src="{{ popup }}">#}
                    {#</div>#}

                    {#<div class="order-product-info-title-image-side">#}
                        {#<div class="order-product-info-title-image-side-name">#}
                            {#{{ name }}#}
                        {#</div>#}

                        {#<div class="order-product-info-title-image-side-price">#}
                            {#<div class="order-product-info-title-image-side-total-price">#}
                                {#<span id="title-price">{{ price_num }}</span>#}
                            {#</div>#}
                            {#<div class="order-product-info-title-image-side-number">#}
                                {#x<span id="ssl">1</span>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div style="clear: both"></div>#}
                {#</div>#}
                <div class="list-block" style="margin: 0rem">
                    <ul>
                        <li>
                            <div class="item-content" style="padding-left:0;margin-left: 0">
                                <div class="item-media"><i class="icon icon-form-password"></i></div>
                                <div class="item-inner" style="margin-left: 0">
                                    <div class="item-title label">{{ quantity }}</div>
                                    <div class="item-input">
                                        <div class="quantity">
                                            <div class="down">
                                                <img class="down1" id="down1" src="{{ http }}/catalog/view/javascript/my/image/reduce_operating_button.png">
                                                <img class="down2" id="down2" src="{{ http }}/catalog/view/javascript/my/image/reduce_forbid_button.png">
                                            </div>
                                            <!--<div class="number">-->
                                            <!--1-->
                                            <!--</div>-->
                                            <input id="sl" name="quantity_1" class="quantity-input" style="" value="1">
                                            <div class="up">
                                                <img class="up1" src="{{ http }}/catalog/view/javascript/my/image/plus_button.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content" style="padding-left:0;margin-left: 0">
                                <div class="item-media"><i class="icon icon-form-password"></i></div>
                                <div class="item-inner" style="margin-left: 0">
                                    <div class="item-title label">{{ the_freight }}</div>
                                    <div class="item-input">
                                        <input style="text-align: right" type="text" value="00.00" disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content" style="padding-left:0;margin-left: 0">
                                <div class="item-media"><i class="icon icon-form-password"></i></div>
                                <div class="item-inner" style="margin-left: 0">
                                    <div class="item-title label">{{ total }}</div>
                                    <div class="item-input">
                                        <input id="sum" style="text-align: right" type="text" value="{{ price_num }}" disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        <div style="height: 3rem;background-color: white"></div>
    </div>
    <!--底部菜单 start-->
    <nav class="bar bar-tab" style="position: fixed;z-index: 100;margin: 0 auto;max-width: 750px">
        <a class="tab-item" href="#" style="text-align: left;padding-left: 0.4rem">
            {{ total }}:<span id="order_price" style="color:#FF464E ">{{ price_num }}</span>
        </a>
        <a id="order-commit" class="tab-item" style="background-color:#FF5722;width: 2%">
            <span style="color:white;" class="tab-label">{{ subimt_order }}</span>
        </a>
    </nav>
    <!--底部菜单 end-->


</div>
<!--立即购买页面 end-->
<!--下单成功页 start-->
<div class="page" id='router4' style="background-color: #F7F7F7">
    <div class="content">
        <div class="back-icon">
            <a href="#router">
                <img class="image" src="{{ http }}/catalog/view/javascript/my/image/cross37.png">
            </a>
        </div>
        <div class="" style="width: 100%;text-align: center;margin-top: 1rem">
            <span style="font-size: 1.3rem;font-weight: 200;color: #FF9800">{{ checkout_success }}</span>
        </div>
        <div class="" style="width: 100%;text-align: center;margin-top: 0.5rem">
            <span style="font-size: 0.7rem;font-weight: 200;color: #BFBFBF">{{ text_checkout_success }}</span>
        </div>
        <div class="" style="width:100%;margin-top: 2rem">
            <div style="margin: 0 auto;width: 40%">
                <img class="image" src="{{ http }}/catalog/view/javascript/my/image/decoration01.png">
            </div>
        </div>
        <div class="" style="margin: 0 2rem;font-size: 0.7rem; color: #656565;font-weight: 330">
            <div class="row" style="margin-top: 0.6rem">
                <div class="col-50">{{ order_amount }}</div>
                <div id="end-order-price" class="col-50" style="text-align: right"></div>
            </div>
            <div class="row" style="margin-top: 0.6rem">
                <div class="col-50"> {{ order_number }} </div>
                <div id="end-order-id" class="col-50" style="text-align: right"></div>
            </div>
            <div class="row" style="margin-top: 0.6rem">
                <div class="col-50">{{ time }}</div>
                <div id="end-order-time" class="col-50" style="text-align: right"></div>
            </div>
        </div>
        <div class="" style="width: 100%;margin: 3rem 0">
            <a href="#router2">
                <div id="show-order" style="margin: 0 auto;width: 80%;text-align: center;background-color: #FF9800;padding: 0.3rem 0;border-radius: 100px;color: white;font-weight: 200;font-size: 0.8rem">
                    {{ check_order }}
                </div>
            </a>
        </div>
    </div>
</div>
<!--订单查询结果页面 start-->
<div class="page" id='router2'>
    <header class="bar bar-nav" style="background-color: #FF464E">
        <a class="button button-link button-nav pull-left back" style="color: white" href="">
            <span class="icon icon-left"></span>
        </a>
        <h1 class='title' style="color: white;font-weight: 200">{{ check_order }}</h1>
    </header>
    <div class="content">
        <div class="order-image">
            <div class="send-font">
            </div>
        </div>
        <div class="send-message">
            <div class="row">
                <div class="col-20" style="width: 1rem;height: 7rem;text-align: center">
                    <div style="width: 1rem;height: 1rem;margin-left:0.4rem;margin-top: 3rem">
                        <img class="image" src="{{ http }}/catalog/view/javascript/my/image/B-10.png">
                    </div>
                </div>
                <div class="col-90" style="border-bottom: 1px #eeeeee solid;height: 7rem;font-size: 0.8rem;font-weight: 300">
                    <div class="send-message-list"><span style="font-size: 1rem" id="show-order-name"> </span></div>
                    <div class="send-message-list"><span id="show-order-address"> </span></div>
                    <div class="send-message-list"><span id="show-order-code"> </span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-20" style="width: 1rem;height: 3rem;text-align: center">
                    <div style="width: 1rem;height: 1rem;margin-left:0.4rem;margin-top: 0.7rem">
                        <img class="image" src="{{ http }}/catalog/view/javascript/my/image/B-11.png">
                    </div>
                </div>
                <div class="col-90" style="border-bottom: 1px #eeeeee solid;height: 3rem;font-size: 0.8rem;font-weight: 300">
                    <div class="send-message-list"><span id="show-order-meail"></span></div>
                </div>
            </div>
            <div class="space"></div>
            <div class="order-product-info">
                <div class="order-product-info-title" style="zoom: 1">
                    <div class="order-product-info-title-image">
                        <img class="image" src="{{ popup }}">
                    </div>

                    <div class="order-product-info-title-image-side">
                        <div id="show-order-prouctname" class="order-product-info-title-image-side-name">
                            {{ name }}
                        </div>
                        <div class="order-product-info-title-image-side-parameter">
                            <font id="show-order-options"></font>
                        </div>
                        <div class="order-product-info-title-image-side-price">
                            <div id="show-order-price" class="order-product-info-title-image-side-total-price">
                            </div>
                            <div class="order-product-info-title-image-side-number">
                                x<font id="show-order-quantity"> </font>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="list-block" style="margin: 0rem">
                    <ul>
                        <li>
                            <div class="item-content" style="padding-left:0;margin-left: 0">
                                <div class="item-media"><i class="icon icon-form-password"></i></div>
                                <div class="item-inner" style="margin-left: 0">
                                    <div class="item-title label">{{ the_freight }}</div>
                                    <div class="item-input">
                                        <input style="text-align: right" type="text" value="00.00" disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content" style="padding-left:0;margin-left: 0">
                                <div class="item-media"><i class="icon icon-form-password"></i></div>
                                <div class="item-inner" style="margin-left: 0">
                                    <div class="item-title label">{{ total }}</div>
                                    <div class="item-input">
                                        <input id="show-order-total" style="text-align: right" type="text" value="" disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="space"></div>
            <div class="end-font">
                <div>
                    {{ order_number }}: <font id="show-order-id"></font>
                </div>
                <div>
                    {{ time }}: <font id="show-order-time"></font>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page" id='success' style="background-color: #F7F7F7">
    <div class="content">
        <div class="back-icon">
            <a href="#router">
                <img class="image" src="{{ http }}/catalog/view/javascript/my/image/cross37.png">
            </a>
        </div>
        <div class="" style="width: 100%;text-align: center;margin-top: 1rem">
            <span style="font-size: 1.3rem;font-weight: 200;color: #FF9800">SUCCESS</span>
        </div>
        <div class="" style="width: 100%;text-align: center;margin-top: 0.5rem">
            <span style="font-size: 0.7rem;font-weight: 200;color: #BFBFBF">{{ text_checkout_success }}</span>
        </div>
        <div class="" style="width:100%;margin-top: 2rem">
            <div style="margin: 0 auto;width: 40%">
                <img class="image" src="{{ http }}/catalog/view/javascript/my/image/decoration01.png">
            </div>
        </div>
    </div>
</div>

<!--下单成功页 end-->
<!--订单查询页 start-->
<div class="page" id='router1'>
    <header class="bar bar-nav" style="background-color:#FF464E;">
        <a class="button button-link button-nav pull-left back" href="">
            <span class="icon icon-left" style="color: white"></span>
        </a>
        <h1 class='title' style="color:white;font-weight: 200">{{ check_order }}</h1>
    </header>

    <div class="content">
        <div class="" style="padding: 1rem 0.4rem 0 0.4rem;background-color: white">
            <div class="searchbar" style="background-color: white">
                <a class="searchbar-cancel">Cancel</a>
                <div class="search-input">
                    <label class="icon icon-search" for="search"></label>
                    <input id="search_email" style="border: 1px solid #BFBFBF" type="search" id='search' placeholder='Email...'/>
                </div>
            </div>
        </div>
        <div id="search_order" class="" style="width: 100%;padding: 0.5rem 0;background-color: white">
            <div style="margin: 0 auto;width: 80%;text-align: center;background-color: #FF464E;padding: 0.3rem 0;border-radius: 100px;color: white;font-weight: 200;font-size: 0.8rem">
                {{ check_order }}
            </div>
        </div>
        <div id="search_order_content">

        </div>
    </div>
</div>
<!--订单查询页 end -->
<script type='text/javascript' src='{{ zeptojs }}' charset='utf-8'></script>
<script type='text/javascript' src='{{ smjs }}' charset='utf-8'></script>
<script type='text/javascript' src='{{ sm_extendjs }}' charset='utf-8'></script>
<script>
    $(function () {
        var config;
        config = {};
        $(".swiper-container").swiper(config);
    });

    {% for option in options %}
    (function () {
        var radioWrap = document.getElementById("combo-choose-{{ option.product_option_id }}"),
                li = radioWrap.getElementsByTagName("div");
        for (var i = 0; i < li.length; i++) {
            li[i].onclick = function () {
                for (var i = 0; i < li.length; i++) {
                    li[i].className = "parameter-style no-choosed";
                }
                this.className = "parameter-style choosed";
            }
        }
    })();
    {% endfor %}

    $(document).ready(function () {
//加的效果
        $(".up").click(function () {
            var n = $(this).prev().val();
            var num = parseInt(n) + 1;
            $("#down1").show();
            $("#down2").hide();
            if (num == 0) {
                return;
            }
            $(this).prev().val(num);
            $("#ssl").text(num);
            $("#title-price").text(num *{{ price_num }});
            $("#sum").val(num *{{ price_num }});
            $("#order_price").text(num *{{ price_num }});
        });
//减的效果
        $(".down").click(function () {
            var n = $(this).next().val();
            var num = parseInt(n) - 1;
            if (num == 1) {
                $("#down1").hide();
                $("#down2").show();
            }
            if (num == 0) {
                return
            }
            $(this).next().val(num);
            $("#ssl").text(num);
            $("#title-price").text(num *{{ price_num }});
            $("#sum").val(num *{{ price_num }});
            $("#order_price").text(num *{{ price_num }});
        });
    })
</script>
<script>
    $(document).ready(function () {
        $("#order-commit").click(function () {
            var options = new Array;
            var info = new Array;
            var to_4 = true;
            var price;
            var total_price;
            var number;
            var user_name = $("#user_name").val();
            var user_email = $("#user_email").val();
            var user_phone = $("#user_phone").val();
            var user_code = $("#user_code").val();
            var user_address = $("#user_address").val();
            var user_comment = $("#user_comment").val();

            //var user_zone = $("#city-picker").val();
            var product_id = $("#product_id").val();


            price = {{ price_num }};
//            total_price = $("#order_price").text();
            number = $("#sl").val();


            $(".choosed input[type='hidden']").each(function () {
                options.push($(this).val());
            });

            $("#info input").each(function () {
                if ($(this).val() == '') {
                    to_4 = false;
                }
//                info.push($(this).val());
            });


            if (to_4 == true) {




                //            choose payment
                var buttons1 = [
                    {
                        text: 'Please Choose',
                        label: true
                    },
                    {
                        text: 'Cash on delivery',
                        bold: true,
//                        color: 'danger',
                        onClick: function () {
                            $.showPreloader();
                            fbq('track', 'Purchase', {
                                content_ids: [product_id],
                                content_type: 'product',
                                value: price,
                                currency: 'USD'
                            });

                            $.post("{{ order_url }}", {
                                        product_id: product_id,
                                        options: options,
                                        price: price,
                                        number: number,
                                        user_name: user_name,
                                        user_email: user_email,
                                        user_phone: user_phone,
                                        user_code: user_code,
                                        user_address: user_address,
                                        user_comment: user_comment,
                                        //               user_zone: user_zone,
                                    },
                                    function (date) {
                                        date = $.parseJSON(date);
                                        if (date.status == 'success') {
                                            $("#end-order-id").text(date.order_id);
                                            $("#end-order-price").text(date.price);
                                            $("#end-order-time").text(date.time);

                                            //show-order
                                            $("#show-order-id").text(date.order_id);
                                            $("#show-order-name").text(user_name + " " + user_phone);
                                            $("#show-order-price").text("{{ price }}");
                                            $("#show-order-address").text(user_address);
                                            $("#show-order-code").text(user_code);
                                            $("#show-order-meail").text(user_email);
                                            $("#show-order-time").text($("#end-order-time").text());
                                            $("#show-order-total").val(date.price);
                                            {#$("#show-order-prouctname").text({{ name }});#}
                                            $("#show-order-quantity").text(number);
                                            $("#show-order-options").text(date.option_str);
//                                            console.log(date);

                                            $.hidePreloader();
                                            $.router.load("#router4");
                                        } else {
                                            $.toast("Your order failed, please order again");
                                        }
                                    });
                        }
                    },
                    {
                        text: 'PayPal',
                        onClick: function () {

                            $.showPreloader();
                            fbq('track', 'Purchase', {
                                content_ids: [product_id],
                                content_type: 'product',
                                value: price,
                                currency: 'USD'
                            });

                            $.post("{{ order_url }}", {
                                        product_id: product_id,
                                        options: options,
                                        price: price,
                                        number: number,
                                        user_name: user_name,
                                        user_email: user_email,
                                        user_phone: user_phone,
                                        user_code: user_code,
                                        user_address: user_address,
                                        user_comment: user_comment,
                                        payment : 'paypal',
                                        //               user_zone: user_zone,
                                    },
                                    function (date) {
                                        date = $.parseJSON(date);
                                        if (date.status == 'success') {
                                            $("#paypal-form-orderId").val(date.order_id);
//                                            console.log($("#paypal-form-orderId").val());

                                            document.getElementById('paypal-form').submit();
//                                            $.hidePreloader();
                                        } else {
                                            $.toast("Your order failed, please order again");
                                            return;
                                        }
                                    });
//                            document.getElementById('paypal-form').submit();
                        }
                    }
                ];
                var buttons2 = [
                    {
                        text: 'Cancel',
                        bg: 'danger'
                    }
                ];
                var groups = [buttons1, buttons2];
                $.actions(groups);


            } else {
//                $.toast("填写完整的订单信息");
                $.toast("Fill in the complete order information");
            }

        });
    });


</script>
<script>
    $(document).ready(function () {
        $("#search_order").click(function () {

            var search_email = $("#search_email").val();
            var reg = /\w+[@]{1}\w+[.]\w+/;

            if (reg.test(search_email)) {
                $.showPreloader();
                $.post("{{ search_order_url }}", {
                            search_email: search_email,
                        },
                        function (date) {
                            console.log(date);
                            date = $.parseJSON(date);
                            if (date.status == 'success') {
                                $.hidePreloader();
                                $(search_order_content).html(date.content)

                            } else {
                                $.toast("False");
                                $.hidePreloader();

                            }
                        });
            } else {
//                $.toast("请填写正确的邮箱地址");
                $.toast("Please fill in the correct email address");
            }
        });
    });


</script>


</body>
</html>
